<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Programming</h2>
    <i class="devicon-cplusplus-plain colored"></i>
    <i class="devicon-csharp-plain colored"></i>
    <img src="../assets/img/python.png"  width="70" height="70">
    <p>My prefer language for the development is C++; however, I've been using other object oriented languages i.e. C#, or Java.</p>
  </div>
  <div class="tech">
    <h2>Technologies</h2>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-git-plain colored"></i>
    <!--<i class="devicon-gitlab-plain-wordmark colored"></i>-->
    <!--<i class="devicon-github-plain-wordmark colored"></i>-->
    <!--<i class="devicon-ubuntu-plain-wordmark colored"></i>-->
    <i class="devicon-debian-plain-wordmark colored"></i>
    <p>I am well acquainted Git, CMake, Bash Scripting, gdb, Valgrind, Docker</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-vim-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <img alt="clion" src="../assets/img/clion.png"  width="60" height="60">
    <!--<img alt="cmake" src="../assets/img/cmake.png"  width="90" height="70">-->
    <!--<i class="devicon-atom-original colored"></i>-->
    <!--<img alt="juypter" src="../assets/img/juypter.png"  width="70" height="70">-->
    <p>Intellij IDEA, CLion, VS Code, Jenkins, VIM, CMake, Jupter Notebook, you name it, I have used a bajillion tools!</p>
  </div>
</div>
