
 
<!DOCTYPE html>
<html>
<head>
<style>

div {
  text-align: justify;
  text-justify: inter-word;
}

h2,h3,h4,h5,h6, p {
    margin: 0;
}

p { margin: 7px 0;}


</style>
</head>
<body>

<div class="user-details">
  <h2> About Me </h2>
  <p align=" justify">  {{site.user_description}} </p>
</div>

  <div class="user">
    <div class="tech">
      <h3> Programming </h3>
      <i class="devicon-cplusplus-plain colored"></i>
      <img src="../assets/img/python.png"  width="70" height="70">
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <p> C/C++, Python, MySQL, C#, XML/YAML/JSON</p>
    </div>
    <div class="tech">
      <h3>    Technologies and Dev Tools </h3>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-atom-original colored"></i>
      <img alt="juypter" src="../assets/img/juypter.png"  width="70" height="70">
      <img alt="clion" src="../assets/img/clion.png"  width="60" height="60">
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <p> Docker, Git[Github, Gitlab, BitBucket], Ubuntu/Debian/Centos, BOOST, STL</p>
    </div>
    <div class="tech">
      <h3> UNIX/Linux Tools </h3>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-debian-plain-wordmark colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-atom-original colored"></i>
      <img alt="juypter" src="../assets/img/juypter.png"  width="70" height="70">
      <img alt="clion" src="../assets/img/clion.png"  width="60" height="60">
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <p> CMake, Make, gdb, Valgrind, Bash Scripting.</p>
      <p> GCC/Clang/MinGW/protoc.</p>
    </div>
    </div>

</body>
</html>
