<!DOCTYPE html>
<html>
<head>
<style>

div {
  text-align: justify;
  text-justify: inter-word;
}

h2,h3,h4,h5,h6, p {
    margin: 0;
}

p { margin: 7px 0;}


</style>
</head>
<body>

<div class="user-details">
  <h2> About Me </h2>
  <p align=" justify">  {{site.user_description1}} </p>

  <p align=" justify"> {{site.user_description2}} </p>

  <p align=" justify"> {{site.user_description3}} </p>
</div>

  <div class="user">
    <div class="tech">
      <h3> Programming </h3>
      <i class="devicon-cplusplus-plain colored"></i>
      <img src="../assets/img/python.png"  width="70" height="70">
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <p> C/C++, Python, MySQL, C#, XML/YAML/JSON</p>
    </div>
    <div class="tech">
      <h3> Technologies & Software </h3>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <img alt="clion" src="/assets/img/jira.png"  width="90" height="50">
      <img alt="clion" src="/assets/img/ros.png"  width="90" height="50">
      <p>Docker, GitHub, GitLab, Scikit-Learn, MFC, QT, Eigen, armadillo, mlpack, BOOST, STL</p>
      <p> IDE’s/Editors: Juypter/Anaconda/PyCharm, CLion/VS Code/Atom/VIM</p>
    </div>
    <div class="tech">
      <h3> Linux Tools, Editors, and IDE's </h3>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-debian-plain-wordmark colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-atom-original colored"></i>
      <img alt="juypter" src="../assets/img/juypter.png"  width="70" height="70">
      <img alt="clion" src="../assets/img/clion.png"  width="60" height="60">
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <p> Linux & Build Tools: i.e.CMake, GNU Make, QMake, Docker, gdb, Valgrind, Shell Scripts.</p>
      <p> Compilers: gcc/g++, clang/MinGW/llvm, protoc.</p>
    </div>
    </div>

</body>
</html>
