<!DOCTYPE html>
<html>
<head>
<style>


body{
    margin:0px;
    background-color:white;
}


.header {
  text-align: center;
  padding: 32px;
}


.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 10px;
}


/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 40px;
}



.column img {
  margin-top: 8px;
  vertical-align: middle;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

h1,h2,h3,h4,h5,h6, p {
    margin: 1;
}

</style>
</head>
<body>


<div class="user-details">
  <h2> Selected Key Projects </h2>
</div>



<div class="user-projects">
  <div class="row images-right">
    <div class="column">
      <a class="content" > <b>  </b> </a>
    </div>
  </div>
  <div class="contents">
    <a class="project-link" href="#"> <b> Inferring Streaming Video Quality From Encrypted Traffic Using and Random Forests Classifier </b> </a>
    <li> <b> C/C++, STL, CMake, Linux, Python, and Sklearn </b> </li>
    <p> We address the challenges of estimating the Quality of Experience (QoE) in encrypted traffic for various services such as YouTube, Netflix,
       Amazon Prime, and Vimeo. The developed ML-classifier model in C++ successfully identifies quality with an accuracy of 90.5% for a range of
       encrypted video services with real-time traffic. The ML models had been developed in C/C++ using Linux, STL, BOOST, and CMake.</p>
  </div>
</div>


<div class="user-projects">
  <div class="row images-right">
    <div class="column">
      <a class="content" > <b>  </b> </a>
    </div>
  </div>
  <div class="contents">
    <a class="project-link" href="#"> <b> Software-in-the-Loop simulations for Decentralized Pattern Formation in Swarms </b> </a>
    <li> <b> C/C++, STL, CMake, Linux, Python, Sklearn, ROS, physics engines i.e. gazebo </b> </li>
    <p>This project address the challenges of pattern formations control schemes for swarms, i.e., aggregation, dispersion, and straight-line which
      take inspiration from nature such as schools of fish, flocks of birds, or swarms of bees, that are believed to use simple, local motion
      coordination rules at the individual level and have several potential applications.</p>
  </div>
</div>


<div class="user-projects">
  <div class="row images-right">
    <div class="column">
      <a class="content" > <b>  </b> </a>
    </div>
  </div>
  <div class="contents">
    <a class="project-link" href="#"> <b> Novel Learning From Demonstration Approach For Repetitive Teleoperation </b> </a>
    <p> <b> In Collaboration with Human Assistive Robotics Group at TUM, Germany, funded by German Research Foundation and MOTIE South Korea </b> </p>
    <li> <b> C/C++, Python, Sklearn </b> </li>
    <p> This research work was supported by the German Research Foundation (DFG) and the Industrial Strategic Technology Development Program (10069072)
       funded by the MOTIE, South Korea. We addressed the issue of reducing the cognitive workload of human operators for repetitive teleoperation tasks.
       Learning from demonstrations can lessen the human operator's burden by learning repetitive teleoperation tasks. However, one of the challenging
       issues is that demonstrations via teleoperation are less consistent compared to other modalities of human demonstrations. The proposed Expectation-Maximization (EM) algorithm synchronized and encoded demonstrations with temporal and spatial variances, different initial and final conditions, and partial executions. The proposed algorithm had been tested and validated with three different experiments of a peg-in-hole task conducted on 3-degrees of freedom master-slave teleoperation system. This work had been published at the 2017 IEEE World Haptics Conference Munich, Germany, and ranked top 10%.</p>
  </div>
</div>




<div class="user-projects">
<div class="contents">
    <a class="project-link" href="#"> <b> Human subjective study for teleoperation of soft continuum growing robot in a virtual environment </b> </a>
    <p> <b> In Collaboration CHARM Lab Standford University, USA, funded by US department of Defence and Republic
         of Korea’s Ministry of Trade, Industry, and Energy (MOTIE) </b> </p>
    <li> <b> C#, Unity, OpenGL </b> </li>
    <p>This research work was done in collaboration with CHARM Lab Standford University, USA, and supported by the US Department of Defence and Republic
      of Korea’s Ministry of Trade, Industry, and Energy (MOTIE) research program on robots for humanitarian assistance. Teleoperation of continuum soft
      robots is a daunting task, especially in a cluttered environment. We initially studied and evaluate the different commercially available devices for
       the teleoperation of vine robot (soft continuum growing robot) in a simulated clutter environment developed in a unity 3d game engine. The proposed
        intuitive, flexible interface has shown better performance compared to the available device such as phantom premium, joystick, or gamepad. The developed
         simulation framework had been presented as a talk session on soft robotics at the 2017 IEEE World Haptics Conference Munich, Germany.
</p>
   </div>
</div>




<div class="user-projects">
  <div class="contents">
    <a class="project-link" href="#"> <b> Ferro Fluid Based Finger Tactile Device </b> </a>
    <p> <b> Funded by Surgical Intuitive USA </b> </p>
    <li> <b> C/C++, OpenHpatics SDK </b> </li>
    <p>This project aims to develop a new tactile device that provides haptic sensations to the user, and Surgical Intuitive USA funded it. It uses a novel
      ferro-fluid based mechanism to impart tactile sensation to the user. The proposed device was able to exhibit high-frequency vibration cues and reasonable
       contact force. The device performance had been tested using Phantom Omni and simulated surface in OpenHaptics. </p>
  </div>
</div>




<div class="user-projects">
<div class="contents">
  <a class="project-link" href="#"> <b> Windows desktop application development in C++ using Microsoft Foundation Classes </b> </a>
  <li> <b> C++ MFC, Direct Show Filters </b> </li>
    <p>Windows Desktop Application development in C++ using Microsoft Foundation Classes (MFC) and Windows media SDK. Development and
       customization of playback software using MFC.Development of SDK in C++ for Video/Audio capture cards, i.e., DSPC-8601 and Aver
       media PCI Express C351W.MFC desktop application integration with video recorder system with PCM-3365 PC Intel Atom E3845 1.33
       GHz dual-core processor.</p>
  </div>
</div>



<div class="user-projects">
  <div class="row images-right">
    <div class="column">
      <a class="content" > <b>  </b> </a>
    </div>
  </div>
  <div class="contents">
    <a class="project-link" href="#"> <b> C++ Implementation of SSH encryption, IEEE Floating Points, and Arithmetic Circuits. </b> </a>
    <li> <b> C/C++, STL, CMake, and Linux </b> </li>
    <p> This project implements SHA-256, SHA-512 encryption, IEEE Floating Point Operations, Cryptographic Functions, and Arithmetic Circuits using C++ and Linux.</p>
  </div>
</div>




</body>
</html>
